<h2>
    The Major Cities of the world of Ur.
</h2>

{{#each model as |city|}}
  {{ur-city
  city=city}}
{{/each}}
<!-- <vbox>
    <hbox align='center'>
      <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Fire'
            location='Western Hemisphere'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Air'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Water'}}
        </box>
    </hbox>
    <hbox>
      <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Earth'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Angels'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Devils'}}
        </box>
     </hbox>
</vbox> -->
