<box align="center">
  <h1>
    The Major Cities Ur
  </h1>
</box>
<hbox align="center">
  {{#each model as |city|}}
  <box class="city-box" align='center' lg="3" md="4" sm="4" xs="10">
    {{ur-city
    city=city}}
  </box>
  {{/each}}
</hbox>

<!-- <vbox>
    <hbox align='center'>
      <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Fire'
            location='Western Hemisphere'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Air'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Water'}}
        </box>
    </hbox>
    <hbox>
      <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Earth'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Angels'}}
        </box>
        <box class='city-box' align='center' lg="3" md="3" sm="4">
            {{ur-city
            cityName='City of Devils'}}
        </box>
     </hbox>
</vbox> -->
