<header>
  {{pathfinder-header}}
</header>

<div class='inner-body'>
  <img class='bg-image' src='/images/pathfinder.jpg'>
  {{#unless session.isAuthenticated}}
    <vbox>
      <hbox>
        <box align='center'>
          {{#if formToggle}}
            <h3>
              Login
            </h3>
            {{login-form}}
          {{else}}
            <h3>
              Create a new account
            </h3>
            {{create-user-form}}
          {{/if}}
        </box>
      </hbox>
      <hbox class='toggle-switch'>
        <box align='center'>
          {{#if formToggle}}
            <h5>
              Need a new account?
            </h5>
            <h5>
              {{fa-icon "arrow-down"}}
            </h5>
            <button {{action 'toggleForm'}}>
              click me
            </button>
          {{else}}
            <h5>
              Already have an account?
            </h5>
            <h5>
              {{fa-icon "arrow-down"}}
            </h5>
            <button {{action 'toggleForm'}}>
              click me
            </button>
          {{/if}}
        </box>
      </hbox>
    </vbox>
  {{else}}
    {{outlet}}
  {{/unless}}
</div>

<footer>
  {{pathfinder-footer}}
</footer>
