<header>
  {{pathfinder-header}}
</header>

<div class='inner-body'>
  {{#unless session.isAuthenticated}}
    <box>
      {{create-user-form}}
    </box>
  {{else}}
    {{outlet}}
  {{/unless}}
</div>

<footer>
  {{pathfinder-footer}}
</footer>
